body{
    background-color: black;
}
.menu {
    list-style: none;
    padding: 0;
  }
  
  .menu > li {
    display: inline-block;
    position: relative;
  }
  
  .menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
  }
  
  .menu ul {
    position: absolute;
    left: 0;
    top: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 0;
    margin: 0;
    display: none;
  }
  
  .menu ul ul {
    left: 100%;
    top: 0;
  }
  
  .menu li:hover > ul {
    display: block;
  }